body {
  margin-top: 15em;
  font-family: 'Goudy Bookletter 1911'; }

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  background: transparent; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }
  .navbar .nav-link {
    color: black; }
  .navbar .nav-menu {
    justify-content: center;
    grid-column: 2;
    cursor: pointer; }
    .navbar .nav-menu h3 {
      font-size: 1rem; }
  .navbar .nav-options {
    background-color: #fff;
    margin-top: -0.9em;
    margin-right: -0.5em;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
    justify-self: flex-end; }
  .navbar .animate-hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #25b0a9), color-stop(50%, #fee603));
    background-image: linear-gradient(to right, transparent 50%, #fee603 50%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
  .navbar .animate-hover:hover {
    background-position: -100%; }

.home {
  min-height: 30em; }
  .home h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-left: 4em;
    margin-bottom: -0.5em; }
  .home h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    margin-left: 6.5em; }

.nike {
  min-height: 40em; }
  .nike .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 10em) 1fr repeat(1, 6em); }
  .nike a {
    text-decoration: none; }
  .nike h2 {
    font-size: 1.5rem;
    color: black;
    cursor: pointer; }
  .nike .nike-title {
    grid-row: 1;
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center; }
  .nike .back-vid {
    max-width: 75vw;
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 2; }
  .nike .front-vid {
    position: relative;
    grid-column: 2 / span 3;
    grid-row: 2; }
  .nike .details {
    margin-top: 3em;
    margin-left: 2em;
    grid-column: 3;
    grid-row: 1;
    justify-self: center; }
    .nike .details p {
      margin: 0; }

.portfolio h1 {
  font-size: 1.5rem;
  grid-column: 1 / span 2;
  max-height: 5rem; }
.portfolio .logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; }
.portfolio .portfolio-item {
  display: flex;
  min-width: 150px;
  flex-basis: calc(25% - 20px);
  /*  subtract the margin from the width  */
  padding: 10px;
  margin: 25px;
  box-sizing: border-box;
  justify-content: center; }
.portfolio .portfolio-item :hover {
  background-color: #25B0A9; }

.about {
  font-family: 'Goudy Bookletter 1911'; }
  .about .about-img {
    min-width: 50vw; }
  .about .about-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; }
  .about .about-item {
    padding: 10px;
    margin: 25px;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0; }
  .about h2 {
    font-size: 1.5rem; }
  .about h3 {
    font-size: 1rem; }
    .about h3 p a {
      text-decoration: none;
      color: black; }

.footer p {
  color: black; }

.nike-main h1 {
  font-size: 1.5rem; }
.nike-main .nike-main-vid {
  max-height: 80vh; }

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  body {
    margin-top: 10em; }

  .home {
    min-height: 25em; }
    .home h1 {
      font-size: 1rem; }
    .home h2 {
      font-size: 0.7rem; }

  .nike {
    min-height: 30em; }
    .nike .details {
      margin-top: 3em;
      margin-left: 14em;
      grid-column: 2 / span 2;
      grid-row: 1;
      justify-self: center; }
      .nike .details p {
        font-size: 0.6rem; }

  .portfolio .portfolio-item {
    display: flex;
    min-width: 100px;
    flex-basis: calc(25% - 25px);
    /*  subtract the margin from the width  */
    padding: 10px;
    margin: 2.1em;
    box-sizing: border-box;
    justify-content: center; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 766px) {
  body {
    margin-top: 5em; }

  .navbar .nav-menu {
    grid-column: 2 / span 2; }

  .home {
    min-height: 1em; }
    .home h1 {
      font-size: 0.8rem; }
    .home h2 {
      font-size: 0.6rem; }

  .nike {
    min-height: 15em; }
    .nike h2 {
      font-size: 0.8rem; }
    .nike .details {
      margin-top: 2em;
      grid-column: 2 / span 2;
      grid-row: 3;
      justify-self: center; }
      .nike .details p {
        font-size: 0.6rem; }

  .portfolio .portfolio-item {
    display: flex;
    min-width: 100px;
    flex-basis: calc(25% - 25px);
    /*  subtract the margin from the width  */
    padding: 10px;
    margin: 2.1em;
    box-sizing: border-box;
    justify-content: center; } }
