$primary: #f6f6f6;
$primary-overlay: rgba(246, 246, 246, 0.8);
$animate1: #FEE603;
$animate2: #25B0A9;

body {
  margin-top: 105px;
  font-family: 'Goudy Bookletter 1911';
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0%	{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%	{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    
}

.loaded #loader {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    
}

.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
     
  }

  .nav-link {
    color: black;
  }

  .nav-menu {
    justify-content: center;
    grid-column: 2;
    cursor: pointer;

    h3 {
      font-size: 1rem;
    }

  }

  .animate-hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #25b0a9), color-stop(50%, #fee603));
    background-image: linear-gradient(to right, transparent 50%, #fee603 50%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  .animate-hover:hover {
    background-position: -100%;
  }

}

.home {

  min-height: 45em;

  h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-left: 4em;
    margin-bottom: -0.5em;
  }

  h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    margin-left: 6.5em;
  }
}

.nike {

  min-height: 40em;

  .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 10em) 1fr;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
  }

  .nike-title {
    grid-row: 1;
    grid-column: 1 / span 3;
    align-self: center;
    justify-self: center;
  }

  .back-vid {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .front-vid {
    position: relative;
    grid-column: 2 / span 3;
    grid-row: 2;
  }
  
}

.about {
  font-family: 'Goudy Bookletter 1911';

  h3 {
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: black;
    }

  }

  
  

}



@media screen and (max-width: 736px) {
  .navbar {
    .nav-menu {
      grid-column: 3;
      justify-content: flex-end;
    }
  }
}

