$primary: #f6f6f6;
$primary-overlay: rgba(246, 246, 246, 0.8);
$animate1: #FEE603;
$animate2: #25B0A9;

body {
  margin-top: 105px;
  font-family: 'Goudy Bookletter 1911';
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  background: transparent;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
     
  }

  .nav-link {
    color: black;
  }

  .nav-menu {
    justify-content: center;
    grid-column: 2;
    cursor: pointer;

    h3 {
      font-size: 1rem;
    }

  }

  .animate-hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #25b0a9), color-stop(50%, #fee603));
    background-image: linear-gradient(to right, transparent 50%, #fee603 50%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  .animate-hover:hover {
    background-position: -100%;
  }

}

.home {

  min-height: 45em;

  h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-left: 4em;
    margin-bottom: -0.5em;
  }

  h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    margin-left: 6.5em;
  }
}

.nike {

  min-height: 40em;

  .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 10em) 1fr repeat(1, 6em);
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
  }

  .nike-title {
    grid-row: 1;
    grid-column: 1 / span 3;
    align-self: center;
    justify-self: center;
  }

  .back-vid {
    max-width: 75vw;
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .front-vid {
    position: relative;
    grid-column: 2 / span 3;
    grid-row: 2;
  }

  p {
    margin-top: 2em;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
  }
  
}

.portfolio {

  h1 {
    font-size: 1.5rem;
    grid-column: 1 / span 2;
    max-height: 5rem;
  }

  .logo-grid {
    display: flex;
    flex-wrap: wrap;                  
    justify-content: center;
    position: relative; 
  }

  .portfolio-item {
    display: flex;
    min-width: 150px;
    flex-basis: calc(25% - 20px); /*  subtract the margin from the width  */
    padding: 10px;
    margin: 25px;
    box-sizing: border-box;
    justify-content: center;
  }

  .portfolio-item :hover {
    background-color: #25B0A9;
  }

}

.about {
  font-family: 'Goudy Bookletter 1911';

  .about-img {
    max-width: 50vw;
  }

  .about-grid {
    display: flex;
    flex-wrap: wrap;                  
    justify-content: center;
    position: relative; 
  }

  .about-item {
    padding: 10px;
    margin: 25px;
    justify-content: center;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;

    a {
      text-decoration: none;
      color: black;
    }

  }

}

.footer {

  p {
    color: black;
  }
}

.nike-main {

  h1 {
    font-size: 1.5rem;
  }

  .nike-main-vid {
    max-height: 80vh;
  }
  
}


@media screen and (max-width: 736px) {
  .navbar {

    .nav-menu {
      grid-column: 3;
      justify-content: flex-end;
    }
  }

  .home {
    min-height: 25em;

    h1 {
      font-size: 1rem;
    }

    h2 {
      font-size: 0.8rem;
    }
  }

  .nike {
    min-height: 30em;

    p {
      margin-top: 2em;
      grid-column: 1;
      grid-row: 3;
      justify-self: center;
    }

  }

  .portfolio {

    .portfolio-item {
      display: flex;
      min-width: 100px;
      flex-basis: calc(25% - 25px); /*  subtract the margin from the width  */
      padding: 10px;
      margin: 2.1em;
      box-sizing: border-box;
      justify-content: center;
    }

  }

}

